@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.thankyou{
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.tankyou_content_dash{
  width: max-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 70px;
  margin-top: 15rem;
  text-align: center;
  box-shadow: rgb(208 4 4 / 17%) 0px 6px 24px 0px, rgb(193 27 27 / 8%) 0px 0px 0px 1px;
}
.tankyou_content_dash h3{
  font-size: 40px;
  font-weight: 600;
  margin-top: 00px;
}
.tankyou_content_dash p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.tankyou_content_dash a{
  display: inline !important;
  padding: 15px 35px !important;
  background: #E30B0B !important;
  font-size: 18px;
  color: #fff !important;
}
.tankyou_content h3{
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
}
.tankyou_content p{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.tankyou_content a{
  display: inline !important;
  padding: 15px 35px !important;
  background: #E30B0B !important;
  font-size: 18px;
  color: #fff !important;
}
section.about {
  margin-top: 50px;
}
section.about .info h3 {
  font-weight: 700;
  font-size: 30px;
}
section.about .info p {
  line-height: 30px;
  font-weight: 500;
}

section.about .info .detail {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
section.about .info .detail p {
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
}
section.about .info .faqs {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
section.about .info .faqs h3 {
  font-weight: 700;
  font-size: 20px;
}
section.about .info .faqs p {
  line-height: 30px;
  font-weight: 500;
}
section.about .info .faqs .accordion-item {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
section.about .info .faqs .accordion-item .accordion-header .accordion-button {
  background: rgba(189, 194, 196, 0.1176470588);
  border-radius: 5px;
  padding: 22px;
  border-left: 3px solid #E30B0B;
}
section.about .info .faqs .accordion-item .accordion-header .accordion-button::after {
  background-image: url("/assets/images/plus.svg");
}
section.about .info .faqs .accordion-item .accordion-header .accordion-button:focus, section.about .info .faqs .accordion-item .accordion-header .accordion-button :active, section.about .info .faqs .accordion-item .accordion-header .accordion-button :visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}