@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}

.badge--deal {
  background: #7df0b233 !important;
  color: #47c682;
}
.sponsor {
  background: rgba(0, 98, 255, 0.1882352941);
  border-radius: 50px;
  font-size: 12px;
  padding: 3px 10px;
  line-height: 15px;
}

.new {
  background: #0062ff;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
}

.deals {
  background: rgba(125, 240, 178, 0.1882352941);
  border-radius: 50px;
  color: #47c682;
  font-size: 12px;
  padding: 3px 10px;
  line-height: 15px;
}

section.detail {
  margin-top: 50px;
}
section.detail .tool-detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
section.detail .tool-detail-top .other h1 {
  font-weight: 700;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
section.detail .tool-detail-top .other h1 .type {
  padding: 8px 15px;
  font-weight: 500;
}
/* section.detail .tool-detail-top .other p {
  width: 75%;
} */
section.detail .tool-detail-top .other .web-link i {
  margin-left: 10px;
}
section.detail .tool-detail-top .other .web-link {
  padding: 10px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 0.5rem;
  display: inline-block;
  transition: all 0.5s;
}
section.detail .tool-detail-top .other .web-link:hover {
  background: #e30b0b;
  transition: all 0.5s;
}
section.detail .detail-image {
  width: 500px;
}
section.detail .tool-detail {
  font-size: 15px;
  font-weight: 500;
}
section.detail .tool-detail p {
  margin-bottom: 5px;
  line-height: 30px;
}
section.detail .tool-detail ol li {
  margin-bottom: 7px;
}
section.detail .tool-img img {
  width: 100%;
}
.carousel-inner {
  padding-left: 10px;
  padding-right: 10px;
}
section.select-package.with-bg {
  background-color: #e831310d !important;
  padding: 30px;
  border-radius: 15px;
}
.carousel-control-prev {
  top: 45% !important;
  background: #000 !important;
  bottom: unset !important;
  width: auto !important;
  height: auto !important;
  border-radius: 50px;
  padding: 6px 7px 6px 5px !important;
  left: -22px !important;
}
.carousel-control-next {
  top: 45% !important;
  background: #000 !important;
  bottom: unset !important;
  width: auto !important;
  height: auto !important;
  border-radius: 50px;
  padding: 6px 5px 6px 8px !important;
  right: -20px !important;
}
.carousel-control-prev-icon {
  width: 1rem !important;
  height: 1rem !important;
}
.carousel-control-next-icon {
  width: 1rem !important;
  height: 1rem !important;
}
.card-deals {
  width: auto;
  min-width: auto !important;
  padding: 1.4rem !important;
  background-color: #fff !important;
}
.deal-title-main {
  font-size: 1.7rem;
  font-weight: 500;
}
.card-deals .deal-title {
  font-size: 1.05rem;
  font-weight: 600;
}
.card-deals .list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 9px;
  margin-top: 0px !important;
}
.card-deals .list li {
  font-size: 0.8rem;
}
.cards-flex {
  display: flex;
  gap: 15px;
}
.carousel {
  width: 100%;
}
.card-deals .action-btn {
  font-size: 0.8rem;
  text-align: center;
}
.carousal-deal {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding: 10px 0;
}
.carousal-deal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
.carousal-deal::-webkit-scrollbar {
  height: 5px;
  width: 6px;
  background-color: #f5f5f5;
}

.carousal-deal::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
.card-deals .btn-buy {
  margin-bottom: 0.5rem !important;
  font-size: 0.9rem;
  padding: 4px 10px;
  background: #000;
  color: #fff;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  width: 266px;
  transition: all 0.5s;
}
.card-deals .btn-buy:hover {
  background: #e30b0b;
  transition: all 0.5s;
}

.card-deals .cancel-text {
  text-decoration: none;
  color: inherit;
}
